/******************************
Video BG
******************************/
.bg-video {
  text-align: center;
  color: $white;

  .text-area {
    max-width: 638px;
    margin: 0 auto;
    padding: 60px 36px;
  }

  .section-title {
    font-size: 50px;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    margin-bottom: 35px;
  }
}

.video-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0.5))
  );
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
}

.video-container > video {
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
}

@media only screen and(max-width: 767px) {
  .video-container {
    height: 500px;
  }
}

@media only screen and(max-width: 479px) {
  .video-container {
    height: 400px;
  }
}
